:root {
    --bg: #fff;
    --border: #e6e6e6;
    --fresh: #0645ad;
    --light: #666;
    --lighter: #f3f3f3;
    --main: #333;
    --visited: #AE00AE;
}

body {
    display: block;
    background: var(--bg);
    color: var(--main);
    font-family: 'Literata', serif;
    font-size: 18px;
    max-width: 80rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: var(--fresh);
}

a:visited {
    color: var(--visited);
}

#nav-logo {
    height: 2rem;
    width: 2rem;
}

.nav-links {
    vertical-align: top;
}

.nav-links-right {
    float: right;
}

.nav-links a:visited {
    color: var(--light);
}

.nav-links a:link {
    color: var(--light);
}

nav > a {
    color: var(--main);
}

#nav-links > a:link {
    color: inherit;
}

#nav-links > a:visited {
    color: inherit;
}

#search-form {
    width: 80%;
}

#search-box {
    height: 2em;
}

.pagination {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: larger;
}

.pagination a:visited {
    color: var(--fresh);
}

p.bookmark-date {
    margin-bottom: 0.5em;
    font-size: larger;
}

.bookmark {
    margin-bottom: 1em;
}

.bookmark-link {
    margin-top: 0;
    margin-bottom: 0;
}

.bookmark-url {
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
}

.bookmark-url > a {
    margin-top: 0;
    margin-bottom: 0;
    color: green;
    text-decoration: none;
}

.bookmark-url > a:visited {
    color: green;
}


.bookmark-details {
    margin-top: 0;
    margin-bottom: 0;
}

.bookmark blockquote {
    color: var(--light);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 1em;
    border-left: 0.2em solid var(--light);
    padding-left: 1em;
    font-style: oblique;
}

.bookmark-details a.bookmark-meta:link {
    color: inherit;
}

.bookmark-details a.bookmark-meta:visited {
    color: inherit;
}

.netloc {
    color: var(--light);
    font-size: small;
    text-decoration: none;
}

.netloc:visited {
    color: inherit;
}

.netloc:link {
    color: inherit;
}

textarea, input, button, select {
    font-family: inherit;
    font-size: inherit;
}

#url-input, #title-input {
    width: 30em;
}

#description-input {
    width: 50em;
    height: 10em;
}

#register-link {
    font-weight: bold;
}

a.tag-link {
    text-decoration: none;
}

a.tag-colour-0 {
    color: #AE0057;
}

a.tag-colour-1 {
    color: #5700AE;
}

a.tag-colour-2 {
    color: #00AEAE;
}

a.tag-colour-3 {
    color: #AEAE00;
}

a.tag-colour-4 {
    color: #00AE00;
}

a.tag-colour-5 {
    color: #AE5700;
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/literata-v15-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/literata-v15-latin-italic.woff2') format('woff2');
}
