{% extends "base.html" %}
{% block main %}
<div class="about-screenshot">
  <img src="{{ url_for('static', filename='images/screenshot.png') }}">
</div>
<h1 class="about-h1">About Quarchive</h1>
<div class="about-caption">
  Quarchive is a bookmarking site, showing metadata around your browser bookmarks
</div>
<div class="about-row">
  <div class="about-column">
    <h2>Full text search</h2>
    <p>
      Quarchive crawls and indexes your all your bookmarks, allowing you to
      search - even when the term you're searching appears deep in the page.
      It also shows when a bookmark links to another one.
    </p>
  </div>
  <div class="about-column">
    <h2>Private by default</h2>
    <p>
      All bookmarks are <strong>completely private by default</strong> but
      there are ways to share your view of a bookmark via a magic link if you
      want.
    </p>
  </div>
  <div class="about-column">
    <h2>See discussions</h2>
    <p>
      Quarchive shows Reddit and HN threads referring to your bookmarks, so you
      can more easily find people talking about things you are interested in.
    </p>
  </div>
</div>
<div class="about-row">
  <div class="about-column">
    <h2>Hooks into the browser</h2>
    <p>
      Just bookmark pages in your browser and the Quarchive extension will pick
      it all up.  This is absolutely the quickest and easiest way to bookmark -
      no need to visit the site or use any special user interface.
    </p>
  </div>
  <div class="about-column">
    <h2>Works in mobile browsers</h2>
    <p>
      Quarchive will pick up bookmarks you create in a mobile browser once
      they're synced to your desktop browser via normal browser sync.  This
      gets around the fact that extensions cannot normally run in mobile
      browsers.
    </p>
  </div>
  <div class="about-column">
    <h2>Free and Open Source</h2>
    <p>
      The source code for Quarchive (both the server and browser extension)
      is <a href="https://github.com/calpaterson/quarchive">freely available on
      Github</a> under the terms of the AGPLv3 or later.
    </p>
  </div>
</div>
<div class="about-last-word">
  Quarchive is free to use but currently in beta - so beware of bugs!
</div>
{% endblock %}
