{# -*- mode: web -*- #}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QM</title>
    </head>
    <body>
        <nav>
            <strong>Quarchive.com</strong>
            <a href="{{ url_for('quarchive.index') }}">Bookmarks</a>
        </nav>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
