{# -*- mode: jinja2 -*- #}

{% macro header_item(req, route, text) %}
  <a href="{{ url_for(route) }}">{{ text }}</a>
{% endmacro %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/site.css">
        <title>QM</title>
    </head>
    <body>
        <nav>
            <span style="background-color: grey"><strong><span style="color: purple">Qu</span><span style="color: white">archive.com</span></strong></span>
            |
            {% if request.endpoint == 'quarchive.index' %}
              {{ header_item(request, 'quarchive.index', "Quarchive") }}
            {% else %}
              {{ header_item(request, 'quarchive.index', "Home") }}
            {% endif %}
            {{ header_item(request, 'quarchive.create_bookmark_form', "Create a bookmark") }}
        </nav>
        <main>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
