{# -*- mode: jinja2 -*- #}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css' ) }}">
        <link
          rel="icon"
          type="image/png"
          sizes="192x192"
          href="{{ url_for('static', filename='icons/quarchive-192px.png') }}"
          >
        <title>{{ page_title or "Quarchive" }}</title>
    </head>
    <body>
        <nav>
          <a href="{{ url_for('quarchive.index') }}"
             ><img id="nav-logo" src="{{ url_for('static', filename='icons/quarchive-192px.png') }}"
             ></a>
             <span class="nav-links">
               {% if request.endpoint == 'quarchive.index' %}
                 <a href="{{ url_for('quarchive.index') }}">QuArchive</a>
               {% else %}
                 <a href="{{ url_for('quarchive.index') }}">Home</a>
               {% endif %}
               <a href="{{ url_for('quarchive.create_bookmark_form') }}">Create</a>
               <a href="{{ url_for('quarchive.about') }}">About</a>
             </span>

             <span class="nav-links nav-links-right">
               {% if g.user %}
                 <a href="{{ url_for('quarchive.user_page', username=g.user.username) }}">{{g.user.username}}</a>
                 <a href="{{ url_for('quarchive.sign_out') }}">Sign out</a>
               {% else %}
                 <a href="{{ url_for('quarchive.sign_in') }}">Sign In</a>
                 <a id="register-link" href="{{ url_for('quarchive.register') }}">Register</a>
               {% endif %}
             </span>
        </nav>
        <main>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
