{# -*- mode: jinja2 -*- #}

{% macro header_item(req, route, text) %}
  <a href="{{ url_for(route) }}">{{ text }}</a>
{% endmacro %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css' ) }}">
        <link
          rel="icon"
          type="image/png"
          sizes="192x192"
          href="{{ url_for('static', filename='icons/quarchive-192px.png') }}"
          >
        <title>{{ page_title|e or "Quarchive" }}</title>
    </head>
    <body>
        <nav>
          <img id="nav-logo" src="{{ url_for('static', filename='icons/quarchive-192px.png') }}">
          <span id="nav-links">
            {% if request.endpoint == 'quarchive.index' %}
              {{ header_item(request, 'quarchive.index', "QuArchive") }}
            {% else %}
              {{ header_item(request, 'quarchive.index', "Home") }}
            {% endif %}
            {{ header_item(request, 'quarchive.create_bookmark_form', "Create") }}
          </span>
        </nav>
        <main>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
