{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}
{% block main %}
  <form
    method="POST"
    {% if bookmark %}
      action="{{  url_for('quarchive.edit_bookmark', url_uuid=url_uuid, redirect_to=request.url) }}"
    {% else %}
      action="{{  url_for('quarchive.create_bookmark', redirect_to=request.url) }}"
    {% endif %}
    >

    {% if bookmark %}
      <h1>Edit bookmark</h1>
    {% else %}
      <h1>Create a bookmark</h1>
    {% endif %}

    {% if bookmark and bookmark.deleted %}
      <p>
        (deleted)
      </p>
    {% endif %}

    {% if bookmark %}
      <h2>{{ bookmark.url }}</h2>
    {% endif %}

    {# Editing #}
    <fieldset>
      <legend>Edit</legend>

      <p>
      <label for="url-input">URL</label>
        <input
          id="url-input"
          name="url"
          type="text"
          {% if bookmark %}
            disabled
            value="{{bookmark.url}}"
          {% endif %}
          >
      </p>

      <p>
        <label for="title-input">Title</label>

        <input
          id="title-input"
          name="title"
          type="text"
          {% if bookmark %}
            value="{{bookmark.title}}"3
          {% endif %}
          >
      </p>

      <p>
        <label for="description-input">Description</label>
      </p>
      <textarea id="description-input"
                name="description"
                >{% if bookmark %}{{ bookmark.description }}{% endif %}</textarea>
      <p>
        <input id="unread" name="unread" type="checkbox"{% if bookmark and bookmark.unread %}checked{% endif %}>
        <label for="unread">Unread</label>
      </p>
      <p>
        <input type="submit" value="{% if bookmark %}Save changes{% else %}Create{% endif %}">
      </p>
    </fieldset>

    {# Deletion #}
    <fieldset>
      <legend>Delete</legend>
      {% if bookmark and bookmark.deleted %}
        <button>Undelete</button>
      {% else %}
        <button name="deleted" value="on">Delete</button>
      {% endif %}
    </fieldset>

  </form>
{% endblock %}
