{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}
  <form
    id="edit-bookmark-form"
    method="POST"
    action="{{  url_for('quarchive.edit_bookmark', url_uuid=url_uuid, username=owner.username, redirect_to=request.url) }}"
    >

    <h1>Edit "{{ title }}"</h1>

    {% if deleted %}
      <p>
        (deleted)
      </p>
    {% endif %}

    <p>
      <label for="url-input">URL</label>
    </p>
    <p>
      <input
        id="url-input"
        name="url"
        type="text"
        value="{{ url }}"
        disabled
        >
    </p>

    <p>
      <label for="title-input">Title</label>
    </p>
    <p>
      <input
        id="title-input"
        name="title"
        value="{{ title }}"
        type="text"
        >
    </p>

    <p>
      <label for="description-textarea">Description</label>
    </p>
    <textarea id="description-textarea" name="description">{{ description }}</textarea>
    <p>
      <input id="unread-input" name="unread" type="checkbox" {% if unread %}checked{% endif %}>
      <label for="unread-input">Unread</label>
    </p>

    <fieldset>
      <legend>Tags</legend>
      <p>
        {% if not tags %}
          (no tags set)
        {% else %}
          Tags:
          {% for tag in tags|sort %}
            {{ macros.render_tag(get_current_user(), tag) }}{{ render_remove_tag_button(tag) }}{% if not loop.last %},{% endif %}
          {% endfor %}
        {% endif %}
      </p>
      <p>
        <input id="tags" name="tags" type="text" hidden value="{{ ",".join(tags or "") }}">
        <input
          id="add-tag"
          name="add-tag"
          type="text"
          list="user-tags"
          pattern="^[a-z\-]+$"
          title="Lowercase letters and hypens"
          >

          <datalist id="user-tags">
            {% for tag, _ in tags_with_count %}
              <option value="{{ tag }}">
            {% endfor %}
          </datalist>

          <button
            form="edit-bookmark-form"
            formmethod="GET"
            >Add to list</button>
      </p>
      <p>
        <small>Tags can only use lowercase letters and hyphens</small>
      </p>
    </fieldset>

    <p>
      <button name="save-bookmark-button" type="submit">Save changes</button>
    </p>

    {# Deletion #}
    <fieldset>
      <legend>Delete</legend>
      {% if deleted %}
        <button>Undelete</button>
      {% else %}
        <button name="deleted" value="on">Delete</button>
      {% endif %}
    </fieldset>

  </form>
{% endblock %}

{% macro render_remove_tag_button(tag) %}
  <button
    class="remove-tag-button"
    name="remove-tag"
    form="edit-bookmark-form"
    formmethod="GET"
    value="{{tag}}"
    >(x)</button>{% endmacro %}
