{# -*- mode: jinja2 -*- #}
{% extends "base.j2" %}
{% block main %}
  <h1>Bookmarks</h1>

  <form>
    <input
      type="text"
      name="q"
      {% if q %}
      value="{{ q }}"
      {% endif %}
      >
    <button>Search</button>
  </form>

  <p>
    <span class="prev-page">
      {% if prev_page_exists %}
        <a
          {% if page == 2 %}
            href={{ modify_query(page=None) }}
          {% else %}
            href="{{ modify_query(page=page-1) }}"
          {% endif %}
          >Previous page</a>
        {% else %}
          <s>Previous page</s>
        {% endif %}
    </span>

    <span class="next-page">
      {% if next_page_exists %}
        <a href="{{ modify_query(page=page+1) }}">Next page</a>
      {% else %}
        <s>Next page</s>
      {% endif %}
    </span>
  </p>

  {% for url, bookmark in bookmarks %}
    {{ render_bookmark(url, bookmark) }}
    {% if not loop.last %}
      <strong>***</strong>
    {% endif %}
  {% endfor %}
{% endblock %}

{% macro render_bookmark(url, bookmark) -%}
  <div class="bookmark">
    <p>
      <a href="{{url.to_url()}}">{{bookmark.title|e}}</a> (<a href="{{ url_for('quarchive.view_netloc', netloc=url.netloc) }}">{{ url.netloc }}</a>)
    </p>
    <blockquote>
      {{ bookmark.description|e }}
    </blockquote>
    <p>
      <em>created <span title="{{bookmark.created}}">{{bookmark.created|relativetime}}</span></em> {%- if bookmark.unread -%}, <strong>unread</strong>{% endif %}
    </p>
    <p>
      <a href="{{ url_for('quarchive.edit_bookmark', url_uuid=url.url_uuid) }}">Edit</a>
      <a href="{{ url_for('quarchive.view_url', url_uuid=url.url_uuid) }}">See URL</a>
    </p>
  </div>
{% endmacro %}
