{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}
{% block main %}
  <h1>Bookmarks</h1>

  <form id="search-form">
    <input
      type="text"
      id="search-box"
      name="q"
      {% if q %}
      value="{{ q }}"
      {% endif %}
      autofocus
      >
    <button>Search</button>
  </form>

  {{ render_pagination(page) }}

  <div class="bookmarks">
    {% for url, bookmark in bookmarks %}
      {% if loop.first %}
        <h2>{{bookmark.created.date()|dateformat('full')}}</h2>
      {% elif loop.previtem[1].created.date() != bookmark.created.date() %}
        <h2>{{bookmark.created.date()|dateformat('full')}}</h2>
      {% endif %}
      {{ render_bookmark(url, bookmark) }}
    {% endfor %}
  </div>

  {{ render_pagination(page) }}

{% endblock %}

{% macro render_pagination(page_number) -%}
  <div class="pagination">
    <span class="prev-page">
      {% if prev_page_exists %}
        <a
          {% if page == 2 %}
            href={{ modify_query(page=None) }}
          {% else %}
            href="{{ modify_query(page=page-1) }}"
          {% endif %}
          class="pagination-arrow"
          >&lt Previous</a>
        {% else %}
          &lt Previous
        {% endif %}
    </span>
    -
    <span class="page-number">Page {{ page_number }} (30 per page)</span>
    -
    <span class="next-page">
      {% if next_page_exists %}
        <a class="pagination-arrow" href="{{ modify_query(page=page+1) }}">Next &gt</a>
      {% else %}
        Next &gt
      {% endif %}
    </span>
  </div>
{% endmacro %}


{% macro render_bookmark(url, bookmark) -%}
  <div class="bookmark">
    <p class="bookmark-url">
      <a href="{{url.to_url()}}">{{bookmark.title}}</a>
      <a
        class="netloc"
        href="{{ url_for('quarchive.view_netloc', netloc=url.netloc) }}"
        >{{ url.netloc }}</a>
    </p>
    {% if bookmark.description|length > 0 %}
      <blockquote class="bookmark-description">
        {{ bookmark.description }}
      </blockquote>
    {% endif %}
    <p class="bookmark-details">
      <em>at <span title="{{bookmark.created}}">{{bookmark.created|timeformat('h:mm a')}}</span></em> {%- if bookmark.unread -%}, <strong>unread</strong>{% endif %}
      <a class="bookmark-meta" href="{{ url_for('quarchive.edit_bookmark', url_uuid=url.url_uuid) }}">edit</a>
      <a class="bookmark-meta" href="{{ url_for('quarchive.view_url', url_uuid=url.url_uuid) }}">url metadata</a>
      {% for tag in bookmark.tags()|sort %}
        <a class="tag-link tag-colour-{{ tag_colour(tag) }}"
           href="{{ url_for('quarchive.user_tags', username=g.user.username, tag=tag) }}"
           >{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    </p>
  </div>
{% endmacro %}
