{# -*- mode: jinja2 -*- #}
{% extends "base.j2" %}
{% block main %}
  <h1>Bookmarks</h1>

  <form>
    <input
      type="text"
      name="q"
      {% if q %}
      value="{{ q }}"
      {% endif %}
      autofocus
      >
    <button>Search</button>
  </form>

  <p>
    <span class="prev-page">
      {% if prev_page_exists %}
        <a
          {% if page == 2 %}
            href={{ modify_query(page=None) }}
          {% else %}
            href="{{ modify_query(page=page-1) }}"
          {% endif %}
          >Previous page</a>
        {% else %}
          <s>Previous page</s>
        {% endif %}
    </span>

    <span class="next-page">
      {% if next_page_exists %}
        <a href="{{ modify_query(page=page+1) }}">Next page</a>
      {% else %}
        <s>Next page</s>
      {% endif %}
    </span>
  </p>

  {% for url, bookmark in bookmarks %}
    {% if loop.first %}
      <h2>{{bookmark.created.date()|dateformat('full')}}</h2>
    {% elif loop.previtem[1].created.date() != bookmark.created.date() %}
      <h2>{{bookmark.created.date()|dateformat('full')}}</h2>
    {% endif %}
    {{ render_bookmark(url, bookmark) }}
  {% endfor %}
{% endblock %}

{% macro render_bookmark(url, bookmark) -%}
  <div class="bookmark">
    <p class="bookmark-url">
      <a href="{{url.to_url()}}">{{bookmark.title|e}}</a>
      <a
        class="netloc"
        href="{{ url_for('quarchive.view_netloc', netloc=url.netloc) }}"
        >{{ url.netloc }}</a>
    </p>
    {% if bookmark.description|length > 0 %}
      <blockquote class="bookmark-description">
        {{ bookmark.description|e }}
      </blockquote>
    {% endif %}
    <p class="bookmark-details">
      <em>at <span title="{{bookmark.created}}">{{bookmark.created|timeformat('h:mm a')}}</span></em> {%- if bookmark.unread -%}, <strong>unread</strong>{% endif %}
      <a href="{{ url_for('quarchive.edit_bookmark', url_uuid=url.url_uuid) }}">edit</a>
      <a href="{{ url_for('quarchive.view_url', url_uuid=url.url_uuid) }}">url metadata</a>
    </p>
  </div>
{% endmacro %}
