{# -*- mode: jinja2 -*- #}
{% macro render_tag(user, tag) %}
<a class="tag-link tag-colour-{{ tag_colour(tag) }}"
   href="{{ url_for('quarchive.user_tag', username=user.username, tag=tag) }}"
   >{{ tag }}</a>{% endmacro %}

{% macro render_bookmark(user, bookmark) -%}
  {% set url = bookmark.get_url() %}
  <div class="bookmark">
    <p class="bookmark-link">
      <a href="{{bookmark.url}}">{{bookmark.title}}</a>
      <a
        class="netloc"
        href="{{ url_for('quarchive.view_netloc', netloc=url.netloc) }}"
        >{{ url.netloc }}</a>
    </p>
    <p class="bookmark-url">
      <a href="{{bookmark.url}}">{{bookmark.url}}</a>
    </p>
    {% if bookmark.description|length > 0 %}
      <blockquote class="bookmark-description">
        {{ bookmark.description }}
      </blockquote>
    {% endif %}
    <p class="bookmark-details">
      <em>at <span title="{{bookmark.created}}">{{bookmark.created|timeformat('h:mm a')}}</span></em> {%- if bookmark.unread -%}, <strong>unread</strong>{% endif %}
      <a class="bookmark-meta" href="{{ url_for('quarchive.edit_bookmark', url_uuid=url.url_uuid) }}">edit</a>
      {# FIXME: Removed for now as it is useless #}
      {# <a class="bookmark-meta" href="{{ url_for('quarchive.view_url', url_uuid=url.url_uuid) }}">url metadata</a> #}
      {% for tag in bookmark.current_tags()|sort %}{{ render_tag(user, tag) }}{% if not loop.last %},{% endif %}
      {% endfor %}
    </p>
  </div>
{% endmacro %}
