{# -*- mode: jinja2 -*- #}
{% macro render_tag(user, tag) %}
<a class="tag-link tag-colour-{{ tag_colour(tag) }}"
   href="{{ url_for('quarchive.user_tag', username=user.username, tag=tag) }}"
   >{{ tag }}</a>{% endmacro %}

{% macro render_remove_tag_button(tag, form_name, form_action) %}
  <button
    class="remove-tag-button"
    name="remove-tag"
    form="{{ form_name }}"
    formaction="{{ form_action }}"
    formmethod="GET"
    value="{{tag}}"
    >(x)</button>{% endmacro %}

{# FIXME: render differently for owner and non-owner #}
{% macro render_bookmark(bookmark_view, as_owner=True) -%}
  {% set bookmark = bookmark_view.bookmark %}
  {% set owner = bookmark_view.owner %}
  <div class="bookmark">
    <div class="bookmark-row">
      <div class="bookmark-icon-column">
        {{ render_icon(bookmark_view.icon_uuid) }}
      </div>
      <div class="bookmark-rest-column">
        <p class="bookmark-link">
          <a class="bookmark-title" href="{{bookmark.url.to_string()}}">{{bookmark_view.title()}}</a>
          <a
            class="netloc"
            href="{{ url_for('quarchive.user_netloc', username=owner.username, netloc=bookmark.url.netloc) }}"
            >{{ bookmark.url.netloc }}</a>
        </p>
        <p class="bookmark-url">
          {% if bookmark_view.has_canonical_url() %}
            <a href="{{bookmark_view.canonical_url.to_string()}}"
               >canonical: {{bookmark_view.canonical_url.to_string()}}</a>
          {% else %}
            <a href="{{bookmark.url.to_string()}}">{{bookmark.url.to_string()}}</a>
          {% endif %}
        </p>
        {% set description = bookmark_view.html_description() %}
        {% if description|length > 0 %}
          <div class="bookmark-description">
            {{ description|safe }}
          </div>
        {% endif %}
        <p class="bookmark-details">
          <em>at <span
                   class="bookmark-created"
                   title="{{bookmark.created}}"
                   >{{bookmark.created|datetimeformat('h:mm a on EEE d MMM YYYY')}}</span></em> {%- if bookmark.unread -%}, <strong>unread</strong>{% endif %}
        </p>
        <p class="bookmark-details">
          {% if not as_owner %}
            {{ render_owner(owner) }}
          {% endif %}
          {% if as_owner %}
            {{ render_edit(bookmark, owner) }}
            {{ render_permalink(bookmark, owner) }}
          {% endif %}
          {{ render_archives(bookmark, owner) }}
          {{ render_links(bookmark_view) }}
          {{ render_discussions(bookmark_view, owner) }}
          {% if as_owner %}
            {{ render_share(bookmark, owner) }}
          {% endif %}

          {% for tag in bookmark.current_tags()|sort %}{{ render_tag(owner, tag) }}{% if not loop.last %},{% endif %}
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_discussions(bookmark_view, owner) %}
  {% set digest = bookmark_view.discussion_digest %}
  <a class="bookmark-meta" href="{{ url_for('quarchive.discussions', username=owner.username, url_uuid=bookmark_view.bookmark.url.url_uuid) }}">
     {%- if digest.comment_count == 0 -%}
       no comments
     {%- elif digest.comment_count == 1 -%}
       1 comment
     {%- else -%}
       {{digest.comment_count}} comments {%- if digest.discussion_count > 1 %} in {{digest.discussion_count}} discussions{%- endif -%}
     {%- endif -%}
  </a>
{% endmacro %}

{% macro render_archives(bookmark, owner) %}
  <a class="bookmark-meta" href="{{ url_for('quarchive.bookmark_archives', url_uuid=bookmark.url.url_uuid, username=owner.username) }}">archives</a>
{% endmacro %}

{% macro render_owner(owner) %}
by <a href="{{ url_for('quarchive.user_page', username=owner.username) }}">{{ owner.username }}</a>
{% endmacro %}

{% macro render_share(bookmark, owner) %}
  <a class="bookmark-meta"
     href="{{ url_for('quarchive.share_form', url_uuid=bookmark.url.url_uuid, username=owner.username) }}">share</a>
{% endmacro %}

{% macro render_edit(bookmark, owner) %}
  <a class="bookmark-meta"
     href="{{ url_for('quarchive.edit_bookmark_form', url_uuid=bookmark.url.url_uuid, username=owner.username) }}">edit</a>
{% endmacro %}

{% macro render_permalink(bookmark, owner) %}
  <a class="bookmark-meta"
     href="{{ url_for('quarchive.view_bookmark', url_uuid=bookmark.url.url_uuid, username=owner.username) }}">permalink</a>
{% endmacro %}

{% macro render_links(bookmark_view) %}
  {% if bookmark_view.link_count > 0 %}
    <a
      class="bookmark-meta bookmark-link-count"
      href="{{ url_for('quarchive.links', url_uuid=bookmark_view.bookmark.url.url_uuid, username=bookmark_view.owner.username) }}"
      >{{ bookmark_view.link_count }} links</a>
    {% endif %}
    {% if bookmark_view.backlink_count > 0 %}
    <a
      class="bookmark-meta bookmark-backlink-count"
      href="{{ url_for('quarchive.backlinks', url_uuid=bookmark_view.bookmark.url.url_uuid, username=bookmark_view.owner.username) }}"
      >{{ bookmark_view.backlink_count }} backlinks</a>
    {% endif %}
{% endmacro %}


{% macro render_icon(icon_uuid) -%}
  <div class="bookmark-icon">
      {% if icon_uuid %}
        <img
          src="{{url_for('quarchive-icons.icon_by_uuid', icon_uuid=icon_uuid)}}"
          alt="icon for bookmark"
          >
      {% else %}
        <div class="fallback-icon"></div>
      {% endif %}
  </div>
{% endmacro %}
