{# -*- mode: jinja2 -*- #}
{% macro render_tag(user, tag) %}
<a class="tag-link tag-colour-{{ tag_colour(tag) }}"
   href="{{ url_for('quarchive.user_tag', username=user.username, tag=tag) }}"
   >{{ tag }}</a>{% endmacro %}

{% macro render_bookmark(bookmark_view, explicit_owner=False) -%}
  {% set bookmark = bookmark_view.bookmark %}
  {% set owner = bookmark_view.owner %}
  <div class="bookmark">
    <div class="bookmark-row">
      <div class="bookmark-icon-column">
        {{ render_icon(bookmark_view.bookmark.url, bookmark_view.icon_uuid) }}
      </div>
      <div class="bookmark-rest-column">
        <p class="bookmark-link">
          <a class="bookmark-title" href="{{bookmark.url.to_string()}}">{{bookmark_view.title()}}</a>
          <a
            class="netloc"
            href="{{ url_for('quarchive.user_netloc', username=owner.username, netloc=bookmark.url.netloc) }}"
            >{{ bookmark.url.netloc }}</a>
        </p>
        <p class="bookmark-url">
          {% if bookmark_view.has_canonical_url() %}
            <a href="{{bookmark_view.canonical_url.to_string()}}"
               >canonical: {{bookmark_view.canonical_url.to_string()}}</a>
          {% else %}
            <a href="{{bookmark.url.to_string()}}">{{bookmark.url.to_string()}}</a>
          {% endif %}
        </p>
        {% if bookmark.description|length > 0 %}
          <blockquote class="bookmark-description">
            {{ bookmark.description }}
          </blockquote>
        {% endif %}
        <p class="bookmark-details">
          <em>at <span
                   class="bookmark-created"
                   title="{{bookmark.created}}"
                   >{{bookmark.created|datetimeformat('h:mm a on EEE d MMM YYYY')}}</span></em> {%- if bookmark.unread -%}, <strong>unread</strong>{% endif %}
          {% if explicit_owner %}
            {{ render_owner(owner) }}
          {% endif %}
          {{ render_edit_and_permalink(bookmark, owner) }}
          <a class="bookmark-meta" href="{{ url_for('quarchive.bookmark_archives', url_uuid=bookmark.url.url_uuid, username=owner.username) }}">archives</a>
          {{ render_links(bookmark_view) }}
          {{ render_share(bookmark, owner) }}

          {% for tag in bookmark.current_tags()|sort %}{{ render_tag(owner, tag) }}{% if not loop.last %},{% endif %}
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_owner(owner) %}
by <a href="{{ url_for('quarchive.user_page', username=owner.username) }}">{{ owner.username }}</a>
{% endmacro %}

{% macro render_share(bookmark, owner) %}
  <a class="bookmark-meta"
     href="{{ url_for('quarchive.share_form', url_uuid=bookmark.url.url_uuid, username=owner.username) }}">share</a>
   {% endmacro %}

{% macro render_edit_and_permalink(bookmark, owner) %}
  <a class="bookmark-meta"
     href="{{ url_for('quarchive.edit_bookmark_form', url_uuid=bookmark.url.url_uuid, username=owner.username) }}">edit</a>
  <a class="bookmark-meta"
     href="{{ url_for('quarchive.view_bookmark', url_uuid=bookmark.url.url_uuid, username=owner.username) }}">permalink</a>
{% endmacro %}

{% macro render_links(bookmark_view) %}
  {% if bookmark_view.link_count > 0 %}
    <a
      class="bookmark-meta bookmark-link-count"
      href="{{ url_for('quarchive.links', url_uuid=bookmark_view.bookmark.url.url_uuid, username=bookmark_view.owner.username) }}"
      >{{ bookmark_view.link_count }} links</a>
    {% endif %}
    {% if bookmark_view.backlink_count > 0 %}
    <a
      class="bookmark-meta bookmark-backlink-count"
      href="{{ url_for('quarchive.backlinks', url_uuid=bookmark_view.bookmark.url.url_uuid, username=bookmark_view.owner.username) }}"
      >{{ bookmark_view.backlink_count }} backlinks</a>
    {% endif %}
{% endmacro %}


{% macro render_icon(url, icon_uuid) -%}
  <div class="bookmark-icon">
      {% if icon_uuid %}
        <img
          src="{{url_for('quarchive-icons.icon_by_uuid', icon_uuid=icon_uuid)}}"
          alt=""
          >
      {% else %}
        <div class="fallback-icon"></div>
      {% endif %}
  </div>
{% endmacro %}
