{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% import 'macros.j2' as macros %}

{% block main %}
  <h1>My bookmarks</h1>

  <form id="search-form">
    <input
      type="text"
      id="search-box"
      name="q"
      {% if q %}
      value="{{ q }}"
      {% endif %}
      autofocus
      >
    <button>Search</button>
  </form>

  {{ render_pagination(page) }}

  <div class="bookmarks">
    {% for url, bookmark in bookmarks %}
      {% if loop.first or loop.previtem[1].created.date() != bookmark.created.date()  %}
        <p class="bookmark-date">
          <span>{{bookmark.created.date()|dateformat('full')}}</span>
        </p>
      {% endif %}
      {{ macros.render_bookmark(g.user, bookmark) }}
    {% endfor %}
  </div>

  {{ render_pagination(page) }}

{% endblock %}

{% macro render_pagination(page_number) -%}
  <div class="pagination">
    <span class="prev-page">
      {% if prev_page_exists %}
        <a
          {% if page == 2 %}
            href={{ modify_query(page=None) }}
          {% else %}
            href="{{ modify_query(page=page-1) }}"
          {% endif %}
          class="pagination-arrow"
          >&lt Previous</a>
        {% else %}
          &lt Previous
        {% endif %}
    </span>
    -
    <span class="page-number">Page {{ page_number }} (30 per page)</span>
    -
    <span class="next-page">
      {% if next_page_exists %}
        <a class="pagination-arrow" href="{{ modify_query(page=page+1) }}">Next &gt</a>
      {% else %}
        Next &gt
      {% endif %}
    </span>
  </div>
{% endmacro %}
