{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}
{% block main %}
    <h1>Register</h1>
    <form action="register" method="POST">
      <p>
        <label>Username</label>
      </p>
      <p>
        <input
          type="text"
          name="username"
          required
          pattern="^[0-9A-z\-]+$"
          title="Numbers, letters and hyphens"
          autocomplete="username"
          >
      </p>
      <p>
        <label>Password</label>
      </p>
      <p>
        <input type="password" name="password" required>
      </p>
      <p>
        <label>Email Address</label>
      </p>
      <p>
        <input type="email" name="email" autocomplete="email">
        <span class="input-copy">An email address is optional, but could help if you forget your password</span>
      </p>
      <p>
        <input name="its-alpha" type="checkbox" required>
        <label for="its-alpha">I know this is an alpha quality service and will have the odd bug.</label>
        <span class="input-copy">You can always contact support via email on the <a href="{{url_for('quarchive.faq')}}">FAQ page</a></span>
      </p>
      <p>
        <button type="submit">Register</button>
      </p>
    </form>
{% endblock %}
