{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}
{% block main %}
    <h1>Register</h1>
    <form action="register" method="POST">
      <p>
        <label>Username</label>
      </p>
      <p>
        <input
          type="text"
          name="username"
          required
          pattern="^[0-9A-z\-]+"
          title="Numbers, letters and hyphens"
          autocomplete="username"
          >
      </p>
      <p>
        <label>Password</label>
      </p>
      <p>
        <input type="password" name="password" required>
      </p>
      <p>
        <label>Email Address</label>
      </p>
      <p>
        <input type="email" name="email" autocomplete="email">
      </p>
      <p>
        <small>Optional, but could help if you forget your password</small>
      </p>
      <p>
        <button type="submit">Register</button>
      </p>
    </form>
{% endblock %}
