{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}
  <h1>Tagged as '{{ tag }}'</h1>

  <div class="bookmarks">
    {% for view in bookmark_views %}
      {% if loop.first or loop.previtem.bookmark.created.date() != view.bookmark.created.date()  %}
        <p class="bookmark-date">
          <span>{{view.bookmark.created.date()|dateformat('full')}}</span>
        </p>
      {% endif %}
      {{ macros.render_bookmark(view) }}
    {% endfor %}
  </div>

{% endblock %}
