{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% import 'macros.j2' as macros %}

{% block main %}
  <h1>Tagged as '{{ tag }}'</h1>

  <div class="bookmarks">
    {% for bookmark in bookmarks %}
      {% if loop.first or loop.previtem.created.date() != bookmark.created.date()  %}
        <p class="bookmark-date">
          <span>{{bookmark.created.date()|dateformat('full')}}</span>
        </p>
      {% endif %}
      {{ macros.render_bookmark(g.user, bookmark) }}
    {% endfor %}
  </div>

{% endblock %}
