{# -*- mode: web -*- #}
{% extends "base.j2" %}
{% block main %}
    <h1>Bookmarks</h1>
    {% for url, bookmark in bookmarks %}
        <div class="bookmark">
            <p class="bookmark">
                <a href="{{url.to_url()}}">{{bookmark.title}}</a>
                <span title="{{bookmark.created}}">{{bookmark.created|relativetime}}</span>
                {%- if bookmark.unread -%}, <strong>unread</strong>{% endif %}
            </p>
            <p>
                <a href="{{ url_for('quartermarker.view_url', url_uuid=url.url_uuid) }}">View URL</a>
            </p>
        </div>
    {% endfor %}

    <p>
        <span class="prev-page">
            {% if prev_page_exists %}
                <a
                    {% if page == 2 %}
                    href="/"
                    {% else %}
                    href="?page={{ page - 1 }}"
                    {% endif %}
                >Previous page</a>
            {% else %}
                <s>Previous page</s>
            {% endif %}
        </span>

        <span class="next-page">
            {% if next_page_exists %}
                <a href="?page={{ page + 1 }}">Next page</a>
            {% else %}
                <s>Next page</s>
            {% endif %}
        </span>
    </p>
{% endblock %}
