{# -*- mode: web -*- #}
{% extends "base.j2" %}
{% block main %}
    <h1>Bookmarks</h1>
    {% for bookmark in bookmarks %}
        <p class="bookmark">
            <a href="{{bookmark.url}}">{{bookmark.title}}</a>,
            {{bookmark.updated|relativetime}}
            {% if bookmark.unread %},<strong>unread</strong>{% endif %}
        </p>
    {% endfor %}
{% endblock %}
