{# -*- mode: web -*- #}
{% extends "base.j2" %}
{% block main %}
    <h1>{{ url.to_url() }}</h1>
    <p><a href="{{ url_for('quartermarker.view_netloc', netloc=url.netloc) }}">{{ url.netloc }}</a></p>
{% endblock %}
