name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-18.04

    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: quarchive
          POSTGRES_PASSWORD: quarchive
          POSTGRES_DB: quarchive_test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install postgresql server dev requirements
      run: sudo apt-get install -y postgresql-server-dev-all
    - name: Use cache of pip downloads
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install tox
      run: pip install tox
    - name: Use cache of tox
      uses: actions/cache@v1
      with:
        path: src/server/.tox
        key: ${{ runner.os }}-tox
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Use cache of npm
      uses: actions/cache@v1
      with:
      path: ~/.npm
      key: ${{ runner.os }}-node-${{ hashFiles('src/extension/package-lock.json') }}
      restore-keys: |
        ${{ runner.os }}-node-
    - name: Make
      run: make
      env:
        QM_SQL_URL_TEST: postgresql+psycopg2://quarchive:quarchive@localhost/quarchive_test
    - name: Store artefacts
      uses: actions/upload-artifact@v1
      with:
        name: Binaries
        path: dist/
